[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask-SQLAlchemy = "==2.1"
psycopg2-binary = "*"
Faker = "*"
flask-sqlalchemy = "==2.1"

[dev-packages]

[requires]
python_version = "3.8"
